.git
.gitignore
.DS_Store

node_modules
**/node_modules

.turbo
.next
**/.next

dist
**/dist
build
**/build
coverage
out
**/out

.env
.env.*
**/.env
**/.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
